.App{
  /* 1% of the viewport's width. */
  width: 100vw; 
  /* 1% of the viewport's height. */
  height: 100vh; 
}

body {
  background-color: whitesmoke;
  margin: 0;
  padding: 0;
}

button {
  margin: 2px 2px;
  font-size: 12px;
  background-color: green;
  padding: 5px 20px;
  color: white;
  cursor: pointer;
}

button:hover{
  cursor: pointer;
}

.my-facebook-button-class{
  width: 200px;
}

.myDiv {
  width: 100%;
  text-align: center;
}
